body{
  /* make all text courier with a backup of monospace, set margin and padding to 0 */
  font-family: "Lucida Grande", sans-serif;
  color: white;
  background-color:black;
}
h1{
	font-size: 64px;
	text-align: center;
	padding-bottom: 10px;
}
h2{
	font-size: 30px;
	text-shadow: 5px 5px 2px #808080;


}
p{
	font-size: 24px;
	padding-top: 20px;
}
div{
	height: 150px;
	padding: 25px;
}
img{
    height: auto;
    width: 525px;
    display: block;
    margin-right: auto;
    margin-left: auto;
} 
footer{
	text-align: right;
	padding-bottom: 10px;
	padding-right: 10px;	
}
#red{
	background-color: red;
	text-align: right;
}
#blue{
	background-color: blue;
	text-align: left;
}
#yellow{
	color: black;
	background-color: yellow;
	text-align: right;
}
#yellow h2{ 
	text-shadow: 5px 5px 2px #c7e2c7;
}
#green{
	background-color: green;
  	text-align: left;
}